%script{:type => "text/javascript", :src  => "js/home.js"}

.header
  Bienvenido #{session[:fullname]}!
  %a.right.barbutton{:href=>'/logout'} Logout
  %a.right.barbutton{:href=>'/users/photo'} Editar foto
  %a.right.barbutton{:href=>'javascript:editProfile();'} Editar perfil
  %a.right.barbutton{:href=>'/'+@user.username} Perfil
  %a.right.barbutton{:href=>'/users_search'} Buscar usuarios

:javascript
  var NEW = #{NEW};
  var QUEUED = #{QUEUED};
  var ALREADY_SEEN = #{ALREADY_SEEN};
  var DUMPED = #{DUMPED};
  var OWN = #{DUMPED};

.section
  %h3 Recomendaciones
  %ul#recommendations

.section
  %h3 Buscar
  %p Buscá algo y recomendalo!
  #searchpages

.section
  %h3 Mis páginas
  %p Si lo que estás buscando no existe, crealo!
  #pages

.section
  %h3 Seguidores
  #followers

.section
  %h3 Gente a la que sigo
  #followeds

#createPageDialog
  %label{:for=>'pageTitle'} Título
  %input{:type=>'text', :name=>'title', :id=>'pageTitle'}
  %label{:for=>'pageDescription'} Descripción
  %textarea{:name=>'description', :id=>'pageDescription'}
  %label{:for=>'pageWebsite'} Website
  %input{:name=>'website', :id=>'pageWebsite'}

#editProfileDialog
  %form{:method=>'post', :action=>'users'}
    %label nombre y apellido
    %input{:type=>'text', :name=>'fullname', :value => "#{@user.fullname}"}
    %label email
    %input{:type=>'text', :name=>'email', :value => "#{@user.email}"}
    %label biografía
    %textarea{:name=>'biography'}= @user.biography
    %label website
    %input{:type=>'text', :name=>'website', :value => "#{@user.website}"}
    %h3 Notificaciones
    %label notificaciones de recomendación
    - if @user.notif_new_recommendation
      %input{:type=>'checkbox', :name=>'notif_new_recommendation', :checked => "checked", :value=>1}
    - else
      %input{:type=>'checkbox', :name=>'notif_new_recommendation', :value=>1}
    %label notificaciones de seguidores
    - if @user.notif_new_follower
      %input{:type=>'checkbox', :name=>'notif_new_follower', :checked => "#{@user.notif_new_follower || 'false'}", :value=>1}
    - else
      %input{:type=>'checkbox', :name=>'notif_new_follower', :value=>1}
    %label noticias sobre Recomendalo
    - if @user.notif_newsletter
      %input{:type=>'checkbox', :name=>'notif_newsletter', :checked => "#{@user.notif_newsletter || 'false'}", :value=>1}
    - else
      %input{:type=>'checkbox', :name=>'notif_newsletter', :value=>1}

#uploadImageDialog.dialog
  %form{:method=>'post', :enctype=>'multipart/form-data', :action=>'/pages/image'}
    %input{:type=>'hidden', :name=>'page_id', :id=>'page-id-field'}
    %label Imágen
    %input{:type=>'file', :name=>'image'}
