%script{:type => "text/javascript", :src  => "js/jquery-1.7.1.min.js"}
%script{:type => "text/javascript", :src  => "js/jquery-ui-1.8.17.custom.min.js"}
%script{:type => "text/javascript", :src  => "js/json2.js"}
%script{:type => "text/javascript", :src  => "js/underscore-min.js"}
%script{:type => "text/javascript", :src  => "js/backbone-min.js"}
%script{:type => "text/javascript", :src  => "js/models.js"}
%script{:type => "text/javascript", :src  => "js/home.js"}

%link(rel="stylesheet" type="text/css" href="css/styles.css")
%link(rel="stylesheet" type="text/css" href="css/ui-darkness/jquery-ui-1.8.17.custom.css")

.header
  Bienvenido #{session[:fullname]}!
  %a.right.barbutton{:href=>'javascript:editProfile();'} Editar perfil
  %a.right.barbutton{:href=>'/logout'} Logout

:javascript
  var NEW = #{NEW};
  var QUEUED = #{QUEUED};
  var ALREADY_SEEN = #{ALREADY_SEEN};
  var DUMPED = #{DUMPED};

.section
  %h3 Recomendaciones
  %ul#recommendations

.section
  %h3 Buscar
  %p Buscá algo y recomendalo!
  #searchpages

.section
  %h3 Mis páginas
  %p Si lo que estás buscando no existe, crealo!
  #pages

.section
  %h3 Seguidores
  #followers

.section
  %h3 Gente a la que sigo
  #followeds

#createPageDialog
  %label{:for=>'pageTitle'} Título
  %input{:type=>'text', :name=>'title', :id=>'pageTitle'}
  %label{:for=>'pageDescription'} Descripción
  %textarea{:name=>'description', :id=>'pageDescription'}
  %label{:for=>'pageWebsite'} Website
  %input{:name=>'website', :id=>'pageWebsite'}

#editProfileDialog
  %form{:method=>'post', :action=>'users'}
    %label nombre y apellido
    %input{:type=>'text', :name=>'fullname', :value => "#{@user.fullname}"}
    %label email
    %input{:type=>'text', :name=>'email', :value => "#{@user.email}"}
    %label biography
    %textarea{:name=>'biography'}= @user.biography
    %label website
    %input{:type=>'text', :name=>'website', :value => "#{@user.website}"}
