-#   Copyright (c) 2012, Hugo Alberto Massaroli  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

%script{:type => "text/javascript", :src  => "js/home.js"}

:javascript
  var NEW = #{NEW};
  var QUEUED = #{QUEUED};
  var ALREADY_SEEN = #{ALREADY_SEEN};
  var DUMPED = #{DUMPED};
  var OWN = #{DUMPED};
  
#home-content.container-fluid
  .row-fluid
    .span2
      #user-profile-card.well 
        %img.user-image{:src=>@user.photo}
        %h4 #{@user.fullname}
        %p Recomendaciones: #{@user.recommendations.size}
        %p Seguidores: #{@user.followers.size}
        %p Siguiendo: #{@user.followeds.size}
        
      %ul.nav.nav-pills.nav-stacked#home-menu
        %li#show-recommendations.active= link_to 'Recomendaciones', 'javascript:showRecommendations()'
        %li#show-search-pages= link_to 'Buscar', 'javascript:showSearchPages()'
        %li#show-pages= link_to 'Mis páginas', 'javascript:showPages()'
        %li#show-followers= link_to 'Seguidores', 'javascript:showFollowers()'
        %li#show-followeds= link_to 'Siguiendo', 'javascript:showFolloweds()'
    .span10#list-content
        
#createPageDialog.hidden.dialog
  %label{:for=>'pageTitle'} Título
  %input{:type=>'text', :name=>'title', :id=>'pageTitle'}
  %label{:for=>'pageDescription'} Descripción
  %textarea{:name=>'description', :id=>'pageDescription'}
  %label{:for=>'pageWebsite'} Website
  %input{:name=>'website', :id=>'pageWebsite'}

#editProfileDialog.hidden.dialog
  %form{:method=>'post', :action=>'users'}
    %label nombre y apellido
    %input{:type=>'text', :name=>'fullname', :value => "#{@user.fullname}"}
    %label email
    %input{:type=>'text', :name=>'email', :value => "#{@user.email}"}
    %label biografía
    %textarea{:name=>'biography'}= @user.biography
    %label website
    %input{:type=>'text', :name=>'website', :value => "#{@user.website}"}
    %h3 Notificaciones
    %label notificaciones de recomendación
    - if @user.notif_new_recommendation
      %input{:type=>'checkbox', :name=>'notif_new_recommendation', :checked => "checked", :value=>1}
    - else
      %input{:type=>'checkbox', :name=>'notif_new_recommendation', :value=>1}
    %label notificaciones de seguidores
    - if @user.notif_new_follower
      %input{:type=>'checkbox', :name=>'notif_new_follower', :checked => "#{@user.notif_new_follower || 'false'}", :value=>1}
    - else
      %input{:type=>'checkbox', :name=>'notif_new_follower', :value=>1}
    %label noticias sobre Recomendalo
    - if @user.notif_newsletter
      %input{:type=>'checkbox', :name=>'notif_newsletter', :checked => "#{@user.notif_newsletter || 'false'}", :value=>1}
    - else
      %input{:type=>'checkbox', :name=>'notif_newsletter', :value=>1}

#uploadImageDialog.hidden.dialog
  %form{:method=>'post', :enctype=>'multipart/form-data', :action=>'/pages/image'}
    %input{:type=>'hidden', :name=>'page_id', :id=>'page-id-field'}
    %label Imágen
    %input{:type=>'file', :name=>'image'}

#recommendations-section.hidden
  %ul.nav.nav-tabs
    %li.active.new= link_to 'Nuevas', '#'
    %li.queued= link_to 'Lo veo mas tarde', '#'  
    %li.seen= link_to 'Ya lo vi', '#'  
    %li.dumped= link_to 'No, gracias', '#'  
    %li.own= link_to 'Propias', '#'    
  %ul.content
  
#search-section.hidden
  %h3 Buscar
  %input{:type=>'text', :name=>'query'}
  %button.buscar Buscar
  %ul.content
  
#pages-section.hidden
  %h3 Mis páginas
  %p Páginas creadas por vos. Sólo vos podés modificarlas.
  %ul.nav.nav-pills
    %li
      %button.recommend Crear página
  %ul.content

#followers-section.hidden
  %h3 Seguidores
  %ul.content

#following-section.hidden
  %h3 Siguiendo
  %ul.content
