%script{:type => "text/javascript", :src  => "js/jquery-1.7.1.min.js"}
%script{:type => "text/javascript", :src  => "js/jquery-ui-1.8.17.custom.min.js"}
%script{:type => "text/javascript", :src  => "js/json2.js"}
%script{:type => "text/javascript", :src  => "js/underscore-min.js"}
%script{:type => "text/javascript", :src  => "js/backbone-min.js"}
%script{:type => "text/javascript", :src  => "js/models.js"}
%script{:type => "text/javascript", :src  => "js/home.js"}

%link(rel="stylesheet" type="text/css" href="css/styles.css")
%link(rel="stylesheet" type="text/css" href="css/ui-darkness/jquery-ui-1.8.17.custom.css")

%h2= "Bienvenido #{session[:username]}!"

:javascript
  var NEW = #{NEW};
  var QUEUED = #{QUEUED};
  var ALREADY_SEEN = #{ALREADY_SEEN};
  var DUMPED = #{DUMPED};

%h3 Recomendaciones
%ul#recommendations

%h3 Mis páginas
- @objs.each do |obj|
  .obj
    %h4= obj.title
    %p= obj.description
    %a{:href=>'/obj/edit/'+obj.id.to_s} Editar

%a{:href=>'/obj/add'} Hacer una recomendación
%a{:href=>'/users'} Ver lista de usuarios

#createRecommendationDialog
  %label{:for=>'recommendationTitle'} Título
  %input{:type=>'text', :name=>'title', :id=>'recommendationTitle'}
  %label{:for=>'recommendationDescription'} Descripción
  %textarea{:name=>'description', :id=>'recommendationDescription'}
  %label{:for=>'recommendationWebsite'} Website
  %input{:name=>'website', :id=>'recommendationWebsite'}
