#home-content.container-fluid
  .row-fluid
    .span2
      %img.user-image{:src=>@user.photo}
      - if @user.fullname
        %h4 #{@user.fullname} (@#{@user.username})
      - else
        %h4 @#{@user.username}
      %p Recomendaciones: #{@user.own_recommendations.size}
      %p Seguidores: #{@user.followers.size}
      %p Siguiendo: #{@user.followeds.size}
      - if @user.website
        %p= link_to @user.website, @user.website
      - if @user.biography
        %p= @user.biography
    .span10#list-content
      - if !@following
        %a.btn{:href=>'/users/follow/'+@user.id.to_s} Seguir
      - else
        %a.btn{:href=>'/users/unfollow/'+@user.id.to_s} Dejar de seguir

      %h4.recommendations Recomendaciones
      %ul.recommendations
        - @recommendations.each do |r|
          %li
            .recommendation-image
              %img{:src=>r.page.image, :alt=>r.page.title, :class=>'page-image'}
            .recommendation-info
              .recommendation-title= r.page.title
              .recommendation-description= r.page.description
              .recommenation-creation-date= r.page.created_at


